{% extends 'project/base.html' %} {% load static %} {% block title %} Cashbook
Management {% endblock %} {% block content %}
<div class="gap-2 w-full">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a
          href="{% url 'main_index' %}"
          class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >
          <svg
            class="mr-2 w-4 h-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
            ></path>
          </svg>
          Home
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg
            class="w-6 h-6 text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <a
            href="{% url 'cashbook_index' %}"
            class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
            >Cashbook</a
          >
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg
            class="w-6 h-6 text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span
            class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500"
            >Create New Entry</span
          >
        </div>
      </li>
    </ol>
  </nav>

  <div
    class="my-3 p-4 w-full bg-white rounded-lg border shadow-md dark:bg-gray-800 dark:border-gray-700"
  >
    <div
      class="text-slate-800 dark:text-white"
      x-data="{
        'td' : {
            'amount' : '',
            'uuid' : '',
            'approved_by' : 'select',
            'paid_by' : 'select',
            'category' : 'select',
            'subcategory' : '',
            'currency' : '',
            'place' : '',
            'remark' : 'Please enter some sample remark.',             
       }, 
        'modalState' : 0,

        'data' : [''],
        'new_data' : {},
        'arr_data' : {},
        'arr_table' : {
            '3d019886-4203-40ef-a93b-b5f1d12fc273' : {
                'amount': '456',
                'approved_by': 'Mukesh Samota',
                'category': 'INCOME',
                'currency': 'USD',
                'paid_by': 'Mukesh Samota',
                'place': 'asd',
                'remark': 'Please enter some sample remark. 456',
                'subcategory': '456',
                'uuid': '3d019886-4203-40ef-a93b-b5f1d12fc273',
            }
        },
        'category' : ['INCOME','TRANSFER','FUEL','TRAVELING','SALARIES','MEDICAL EXPENSES','FOOD','TRANSPORT','LABOR EXPENSES','OFFICE EXPENSES','PROFESSIONAL FEES','CHARITY','TÉLÉCOMMUNICATIONS','ADVANCES','SOCIAL WELFARE','COMPUTER AND IT','TAXES','REPAIRS AND MAINTENANCE','STATIONERY','REPAIR AND MAINTENACE','BANK CHARGES','MUYA RESOURCES','PFN SAS','SECURITY EXPENSES','MISCELLANEOUS EXPENSES','SPARES PARTS','PURCHASE','ELECTRICITY EXPENSES','WATER EXPENSES','SAMPLING','UNCATEGORIZED','FREIGHT'],

        add_to_table(x, y){
            console.log(x)
            this.arr_table[y] = x
            this.modelState = 0
        },
        delete_from_table(x){
            console.log(x['uuid'])
            var id = x['uuid']
            delete this.arr_table[id]
        },
        edit_from_table(x){
            console.log(x) 
            this.modalState = 1
            this.td = x
        }

    }"
    >
      <div
        class="flex items-center justify-between p-6 border rounded-md border-slate-400"
      >
        <div>Opening Balance</div>
        <div>
          <span x-text="new_data.opening_balance"></span>
        </div>
      </div>

      <table class="table-auto w-full p-2 border rounded-md text-left my-4 text-sm">
          <tr class="p-2">
            <th>Category</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Approved By</th>
            <th>Paid By</th>
            <th>Place</th>
            <th>Remark</th>
            <th>Action</th>
          </tr>
        <template x-for="arr in arr_table" class="text-xs">
          <tr>
            <td x-text="arr['category']"></td>
            <td x-text="arr['currency']"></td>
            <td x-text="arr['amount']"></td>
            <td x-text="arr['approved_by']"></td>
            <td x-text="arr['paid_by']"></td>
            <td x-text="arr['place']"></td>
            <td x-text="arr['remark']"></td>                        
            <td>
                <center>
                    <span class="flex items-center gap-2 justify-center">
                        <button @click="delete_from_table(arr)" class="rounded-full p-1 text-sm bg-red-600 text-white">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                        </button>
    
                        <button @click="edit_from_table(arr)" class="rounded-full p-1 text-sm bg-green-600 text-white">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                        </button>                                        
                    </span>
                </center>                                
            </td>
          </tr>
        </template>
      </table>

      <div
        x-data="{        
                       
        uuid(){
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        },
        openModal(){
            console.log('opening modal')
            this.td['uuid'] = this.uuid()
            this.modalState = 1
            console.log('modal opened')
        }, 
        closeModal(){
            console.log('closing modal')            
            this.modalState = 0
            this.td = {}
            console.log('modal closed')
        }, 
        push_to_table(){
            add_to_table(this.td, this.td['uuid'])
            this.modalState = 0
            this.td = {}
        }
      }"
      >
        <button
          class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 rounded-full m-2"
          type="button" @click="openModal()"
        >
          Add Data
        </button>

        <div x-show="modalState == 1" class="overflow-y-auto fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
          <div class="relative p-4 w-full max-w-4xl mx-auto h-full md:h-auto bg-black">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <div
                class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600"
              >
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Enter Data in Cashbook
                </h3>
                <button
                  type="button" @click="closeModal()"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  <svg
                    class="w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </div>

              <div class="p-6 space-y-6">
                  
                <!-- <input class="bg-transparent px-4 py-2 hidden" type="text" x-model="td['uuid']"/> -->

                <div class="flex justify-between">
                  <div>
                    Category <br />
                    <select
                      class="border px-4 py-2 bg-transparent rounded-md"
                      x-model="td['category']"
                    >
                    <option value="select" disabled selected>select</option>
                      <template x-for="d in category">
                        <option :value="d" x-text="d">--</option>
                      </template>
                    </select>
                  </div>
                  <div>
                    Subcategory <br />
                    <input
                      x-model="td['subcategory']"
                      type="text"
                      class="px-4 py-2 bg-transparent rounded-md border"
                    />
                  </div>
                </div>

                <div class="flex justify-between items-center">
                  <div>
                    Currency <br />
                    <div class="flex gap-4 items-center">
                      <span>
                        <input
                          type="radio"
                          id="usd"
                          name="currency"
                          x-model="td['currency']"
                          value="USD"
                        />
                        <label for="usd">USD</label>
                      </span>

                      <span>
                        <input
                          type="radio"
                          id="cdf"
                          name="currency"
                          x-model="td['currency']"
                          value="CDF"
                        />
                        <label for="cdf">CDF</label>
                      </span>
                    </div>
                  </div>

                  <div>
                    Amount <br />
                    <input
                      type="number"
                      x-model="td['amount']"
                      class="px-4 py-2 bg-transparent rounded-md border"
                    />
                  </div>
                </div>

                <div class="flex justify-between items-center">
                  <div>
                    Approved by <br />
                    <select
                      x-model="td['approved_by']"
                      class="border px-10 py-2 bg-transparent rounded-md text-left"
                    >
                    <option value="select" disabled selected>select</option>
                      <option value="Mukesh Samota">Mukesh Samota</option>
                      <option value="Kaushal Kishore">Kaushal Kishore</option>
                    </select>
                  </div>
                  <div>
                    Paid by <br />
                    <select
                      x-model="td['paid_by']"
                      class="border px-10 py-2 bg-transparent rounded-md text-left"
                    >
                    <option value="select" disabled selected>Select</option>
                      <option value="Mukesh Samota">Mukesh Samota</option>
                      <option value="Kaushal Kishore">Kaushal Kishore</option>
                    </select>
                  </div>

                  <div>
                    Place <br />
                    <input
                      type="text"
                      x-model="td['place']"
                      class="px-4 py-2 bg-transparent rounded-md border"
                    />
                  </div>
                </div>

                <div class="flex justify-between items-center">
                    <div class="w-full">
                        Remark <br />
                        <textarea 
                          x-model="td['remark']"
                          class="px-4 py-2 bg-transparent rounded-md border w-full"
                        >
                    This is sample remark</textarea>
                      </div>
        
                </div>
              </div>              
              <div
                class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600"
              >
                <button
                  @click="push_to_table()"
                  type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Add
                </button>
                <button
                  type="button" @click="closeModal()"
                  class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-between p-6 border rounded-md border-slate-400">
        <div @click="console.log(arr_table)" class="px-4 py-2 rounded-full bg-blue-500">
            Console
        </div>
        <div>Closing Balance</div>
        <div>
          <span x-text="new_data.closing_balance"></span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
