{% extends 'project/base.html' %}
{% load static %}

{% block title %} Cashbook Management {% endblock %}
{% block content %}
<div class="gap-2">
    <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="{% url 'main_index' %}"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{% url 'cashbook_index' %}"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Cashbook</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">Create New Entry</span>
                </div>
            </li>
        </ol>
    </nav>
    
    <div class="grid justify-between gap-5 md:grid-cols-12 my-3">
        
        <!-- <div class="md:col-span-4 my-3 p-4 w-full bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-between items-center mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Latest Data</h5>
                <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                    View all
                </a>
            </div>
            <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700" x-data="{
                    'data' : [
                    ['Sample 1', 'Kibolwe', '$100', 'CDF 30'],
                    ['Sample 2', 'Likashi', '$120', 'CDF 20'],
                    ['Sample 3', 'Kinshasha', '$156', 'CDF 40'],
                    ]
                }">
                <template x-for="d in data">
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-1.jpg"
                                    alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0">
                                <p x-text="d[0]" class="text-sm font-medium text-gray-900 truncate dark:text-white"></p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400" x-text="d[1]"></p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white gap-2">
                                <div x-text="d[2]">
                                    $320
                                </div>
                                <div x-text="d[3]">
                                    CDF 32000
                                </div>                            
                            </div>
                        </div>
                    </li>
                </template>                    
                </ul>
            </div>
        </div> -->
    
        <div class="my-3 p-4 w-full bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            
            <div class="text-slate-800 dark:text-white" x-data="{
                'data' : {}
            }">
                asd
                <input class="rounded-md px-4 py-2 " type="number" />
            </div>
        </div>
    </div>
    

</div>
{% endblock %}